body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #aecff0; /* Light background color for the entire page */
}


h2 {
  text-shadow: 
  1px 2px 2px hsla(220, 93%, 58%, 0.2),
  2px 4px 4px hsl(220deg 60% 50% / 0.2),
  4px 8px 8px hsl(220deg 60% 50% / 0.2);
  font-size: 40px;
  color: #333; /* Darker text color for better contrast */
}

/* Card */
.card {
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    box-shadow:
      1px 2px 2px hsl(220deg 60% 50% / 0.2),
      2px 4px 4px hsl(220deg 60% 50% / 0.2),
      4px 8px 8px hsl(220deg 60% 50% / 0.2);
    max-width: 300px;
    max-height: 400px;
    height: 100%;
    width: 100%;
    background-color: white;
    
  }

  .card h5 {
    text-shadow: 
    1px 2px 2px hsla(220, 93%, 58%, 0.2),
    2px 4px 4px hsl(220deg 60% 50% / 0.2),
    4px 8px 8px hsl(220deg 60% 50% / 0.2);
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-img-top {
    max-height: 250px;
    object-fit: contain;
    width: 100%;
  }
  
  .card-body {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-title {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    max-width: 200px;
  }


  /* Modal */
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .modal.show {
    display: flex;
    opacity: 1;
  }
  
  .modal-dialog {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    width: 100%;
  }
  
  .modal-header {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  .modal-header img {
    max-height: 300px;
    object-fit: contain; 
    margin-bottom: 15px; 
  }
  
  .modal-body {
    margin-top: 15px;
  }
  
  .modal-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
  }
  
  .modal-footer button {
    margin-left: 10px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-md-4 {
    padding: 10px;
  }
  